@import url(https://fonts.googleapis.com/css?family=Ubuntu:700);
@import url('https://fonts.googleapis.com/css?family=Raleway:800&display=swap');
@import "themify-icons.css";


  html {
    width: 100vw;
    height: 100vh;
    border-radius: 5px;
    box-shadow: 0 2px 30px rgba(black, .2);
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    position: relative;
    transform: translate3d(0, 0, 0);
    overflow: hidden;
  }
  .wrapper {
    /*width: 100vw;
    height: 40%;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    overflow: hidden;*/
    font-family: 'Ubuntu', sans-serif;
  }

  .wave {
    opacity: .6;
    position: absolute;
    top: 3%;
    left: 50%;
    background: rgb(39, 173, 102);
    width: 200vw;
    height: 200vw;
    margin-left: -100vw;
    margin-top: -145vw;
    transform-origin: 50% 48%;
    border-radius: 40%;
    animation: drift 20000ms infinite linear;
  }
  @media screen and (max-width: 2000px) {
    .wave {
      opacity: .6;
      position: absolute;
      top: 3%;
      left: 50%;
      background: rgb(39, 173, 102);
      width: 200vw;
      height: 200vw;
      margin-left: -100vw;
      margin-top: -155vw;
      transform-origin: 50% 48%;
      border-radius: 40%;
      animation: drift 20000ms infinite linear;
    }
  }
  @media screen and (max-width: 1800px) {
    .wave {
      opacity: .6;
      position: absolute;
      top: 3%;
      left: 50%;
      background: rgb(39, 173, 102);
      width: 200vw;
      height: 200vw;
      margin-left: -100vw;
      margin-top: -140vw;
      transform-origin: 50% 48%;
      border-radius: 40%;
      animation: drift 20000ms infinite linear;
    }
  }
  @media screen and (max-width: 1500px) {
    .wave {
      opacity: .6;
      position: absolute;
      top: 3%;
      left: 50%;
      background: rgb(39, 173, 102);
      width: 200vw;
      height: 200vw;
      margin-left: -100vw;
      margin-top: -130vw;
      transform-origin: 50% 48%;
      border-radius: 40%;
      animation: drift 20000ms infinite linear;
    }
  }

  @media screen and (max-width: 1200px) {
    .wave {
      opacity: .6;
      position: absolute;
      top: 3%;
      left: 50%;
      background: rgb(39, 173, 102);
      width: 200vw;
      height: 200vw;
      margin-left: -100vw;
      margin-top: -115vw;
      transform-origin: 50% 48%;
      border-radius: 40%;
      animation: drift 20000ms infinite linear;
    }
  }

  @media screen and (max-width: 1000px) {
    .wave {
      opacity: .6;
      position: absolute;
      top: 3%;
      left: 50%;
      background: rgb(39, 173, 102);
      width: 200vw;
      height: 200vw;
      margin-left: -100vw;
      margin-top: -105vw;
      transform-origin: 50% 48%;
      border-radius: 40%;
      animation: drift 20000ms infinite linear;
    }
  }

  @media screen and (max-width: 800px) {
    .wave {
      opacity: .6;
      position: absolute;
      top: 3%;
      left: 50%;
      background: rgb(39, 173, 102);
      width: 200vw;
      height: 200vw;
      margin-left: -100vw;
      margin-top: -75vw;
      transform-origin: 50% 48%;
      border-radius: 40%;
      animation: drift 20000ms infinite linear;
    }
  }

  .wave.-three {
    animation: drift 15000ms infinite linear;
  }
  
  .wave.-two {
    animation: drift 22000ms infinite linear;
    opacity: .3;
    background: rgb(30, 255, 244);
  }
  

  .title {
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    text-align: center;
    transform: translate3d(0, 0, 0);
    color: white;
  }

  @keyframes drift {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
  }

  ul {
    justify-content: center;
    width: auto;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    text-align: center;
    margin: 0;
    padding-top: 1%;
    overflow: hidden;
    background-color: none;
  }
  
  li {
    float: left;
    padding-left: 0.5%;
    padding-right: 0.5%;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    border-radius: 99px;
    transition: all .5s;
  }
  
  li a:hover:not(.active) {
    color: rgb(255, 255, 255);
    transition: all .5s;
    
  }
  
  .active {
    background-color: rgb(21, 32, 27);
    color: rgb(63,204,129);
  }

  .active:hover {
    transform: scale(1.05);
    transition: all .5s;
  }

  #searchButton {
    border-radius: 99px;
    background-color: rgb(21, 32, 27);
    color: rgb(255, 255, 255);
    transition: all .5s;
  }

  #searchButton:hover {
    transform: scale(1.1);
    transition: all .5s;
    color: black;
  }

  .hero {
    padding-top: 15vh;
    text-align: center;
    transform: translate3d(0, 0, 0);
  }

  .heroText {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    line-height: 5vh;
    color: rgb(240, 240, 240);
    letter-spacing: .013em;
    font-size: 36px;
    line-height: 1.7;
    font-family: 'Raleway', sans-serif;
    transform: translate3d(0, 0, 0);
  }